:root {
  --cart-ele-width:100%;
  --prod-img-width:500px
}


.prod-img{
  width: var(--prod-img-width);
}

.cart-imge{
  --prod-img-width:clamp(10%,200px,40%)
}

.cart-element{
  width: var(--cart-ele-width);
}

.small-button {
  transform: rotate(90deg);
}

@media (min-width:576px){
  .cart-element {
    --cart-ele-width:clamp(500px,80vw,576px)
  }
}
