:root {
  --cart-ele-width:90%;
  --cart-container-width:100%;
  --prod-img-width:500px
}


.prod-img{
  width: var(--prod-img-width);
}

.cart-imge{
  --prod-img-width:clamp(10%,200px,40%)
}

.cart-element{
  width: var(--cart-ele-width);
}

.cart-container{
  width: var(--cart-container-width);
}


.small-button {
  transform: rotate(90deg);
}

@media (min-width:576px){
  .cart-element {
    --cart-ele-width:clamp(500px,80vw,576px)
  }
  .cart-container{
    --cart-container-width:clamp(calc(500px + 10%),85vw,calc(576px + 10%))
  }
}
